@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #1b1c1f;
  margin: 0;
}

.main-wrapper {
  width: 100%;
}

/* HEADER STYLES */

.main-header {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0;
}

/* MAIN HEADER ONE */

.main-header-one {
  position: relative;
  display: flex;
  width: 36%;
}

.brand-name {
  font-size: 72px;
  line-height: 72px;
  margin-left: 50px;
  margin-top: 0;
}

.brand-image-wrapper {
  position: absolute;
  z-index: -1;
  width: 370px;
  height: 130%;
  top: -30%;
}

.brand-image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  object-fit: cover;
}

.stamp-wrapper {
  position: absolute;
  top: 260px;
  right: 20px;
  width: 150px;
  height: 150px;
}

/* MAIN HEADER TWO */

.main-header-two {
  display: flex;
  flex-direction: column;
  width: 36%;
}

.introduction {
  margin-bottom: 20px;
  color: #8d8d8f;
  font-size: 14px;
  letter-spacing: 3px;
}

.introduction-header {
  font-size: 48px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
}

.introduction-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0;
}

.introduction-project-talk {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
}

.project,
.talk {
  margin: 0;
}

.talk,
.fa-arrow-right,
ul > li:first-child > a {
  color: #e72484;
}

/* MAIN NAV */

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  width: 12%;
  font-size: 24px;
  font-weight: 600;
  line-height: 55px;
  text-align: right;
}

.main-nav-ul {
  margin: 0;
  padding: 0;
}

/*  */
