@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background: #1b1c1f;
  margin: 0;
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
}

/* HEADER STYLES */

.main-header {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0;
}

/* MAIN HEADER ONE */

.main-header-one {
  position: relative;
  display: flex;
  width: 36%;
}

.header-one-animation {
  position: relative;
  top: -80px;
  opacity: 0;
  -webkit-animation-name: "header-one-animation";
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 600ms;
}

.brand-name {
  font-size: 72px;
  line-height: 72px;
  margin-left: 50px;
  margin-top: 0;
  -webkit-animation-duration: 600ms;
  -webkit-animation-delay: 200ms;
  text-indent: -30px;
}

@keyframes header-one-animation {
  0% {
    opacity: 0;
    top: -80px;
  }
  100% {
    opacity: 1;
    top: 50px;
  }
}

.brand-image-wrapper {
  position: absolute;
  z-index: -1;
  width: 370px;
  height: 130%;
  top: -60%;
  opacity: 0;
  -webkit-animation-name: "brand-image-wrapper";
  -webkit-animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes brand-image-wrapper {
  0% {
    top: -60%;
    opacity: 0;
  }
  100% {
    top: -30%;
    opacity: 1;
  }
}

.brand-image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  object-fit: cover;
}

.stamp-wrapper {
  position: absolute;
  top: 260px;
  right: 20px;
  width: 150px;
  height: 150px;
  -webkit-animation-name: "stamp-wrapper";
  -webkit-animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 800ms;
  opacity: 0;
}

@-webkit-keyframes stamp-wrapper {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* MAIN HEADER TWO */

.main-header-two {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 36%;
}

.header-two-animation {
  position: relative;
  top: -100px;
  opacity: 0;
  -webkit-animation-name: "header-two-animation";
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 600ms;
}

.introduction {
  margin-bottom: 20px;
  color: #8d8d8f;
  font-size: 14px;
  letter-spacing: 3px;
  -webkit-animation-delay: 250ms;
}

.introduction-header {
  font-size: 48px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
  -webkit-animation-delay: 300ms;
}

.introduction-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0;
  -webkit-animation-delay: 350ms;
}

.quote {
  margin: 30px 0 0 10px;
  color: #8d8d8f;
  font-size: 12px;
  letter-spacing: 3px;
}

.introduction-project-talk {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  -webkit-animation-delay: 400ms;
}

@-webkit-keyframes header-two-animation {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.project,
.talk {
  margin: 0;
}

.talk,
.fa-arrow-right,
ul > li:first-child > a {
  color: #e72484;
}

/* MAIN NAV */

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  width: 12%;
  font-size: 24px;
  font-weight: 600;
  line-height: 55px;
  text-align: right;
  -webkit-animation-delay: 400ms;
}

.main-nav-ul,
.mobile-nav-ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

.crossed:hover {
  color: #e72484;
  text-decoration: line-through;
}

/* MOBILE NAV */

.mobile-nav {
  position: absolute;
  top: 30px;
  right: 5%;
  display: none;
  align-items: flex-end;
  flex-direction: column;
}

.nav-span {
  height: 3px;
  background: white;
  margin: 3px;
}

.short {
  width: 13px;
}

.large {
  width: 28px;
}

.middle {
  width: 23px;
}

.mobile-nav-menu {
  display: none;
  margin-top: 20px;
  font-size: 24px;
  background: white;
  padding: 30px 40px;
  line-height: 50px;
}

.mobile-nav-link {
  color: black;
  font-size: 24px;
}

/* KNOW ME STYLES */

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1300px;
  margin: 0 auto;
}

.social-contacts-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.know-me {
  position: relative;
  bottom: 30px;
  right: 30px;
}

.social-contacts {
  display: flex;
  background: #222327;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.social-icon {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.social-icon:hover {
  background-image: url("../src/images/5172658.jpg");
  background-position-x: 71%;
}

.social-icon:first-child:hover {
  border-top-left-radius: 50px;
}

.social-icon:last-child:hover {
  border-top-right-radius: 50px;
}

/* EXPERTISE STYLES */

.expertises {
  display: flex;
  flex-direction: column;
  background: #222327;
  border-top-left-radius: 25px;
  padding: 30px;
}

.experise-title {
  margin-bottom: 20px;
  color: #8d8d8f;
  font-size: 14px;
  letter-spacing: 3px;
}

.expertise-content-wrapper {
  display: flex;
  justify-content: space-around;
}

.expertise-content {
  display: flex;
  padding: 20px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding: 20px;
}

.expertise-number {
  margin-right: 20px;
  color: #595a5d;
}

.credit {
  margin-top: 2px;
  background: #222327;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.credit > p {
  color: #cfcfcf;
}

@media screen and (max-width: 1440px) {
  .main-header {
    max-width: 940px;
  }

  .brand-name {
    font-size: 48px;
    line-height: 48px;
  }

  .brand-image-wrapper {
    width: 320px;
  }

  .introduction {
    font-size: 14px;
  }

  .introduction-header {
    font-size: 32px;
    line-height: 42px;
  }

  .introduction-content {
    font-size: 14px;
    line-height: 28px;
  }

  .introduction-project-talk {
    font-size: 20px;
    line-height: 32px;
  }

  .main-nav {
    font-size: 20px;
    line-height: 32px;
  }

  .stamp-wrapper {
    width: 120px;
    height: 120px;
    top: 265px;
    left: 237px;
  }

  .main-footer {
    max-width: 940px;
  }
}

/* 991PX STYLES */

@media screen and (max-width: 991px) {
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .main-header {
    max-width: 728px;
    justify-content: space-between;
  }

  .main-header-one {
    width: 30%;
  }

  .main-header-two {
    width: 50%;
  }

  .brand-name {
    font-size: 42px;
    line-height: 40px;
  }

  .brand-image-wrapper {
    width: 270px;
    height: 110%;
  }
  .stamp-wrapper {
    position: absolute;
    top: 210px;
    left: 200px;
  }
  .main-footer {
    max-width: 728px;
  }

  .know-me {
    width: 120px;
  }

  .main-footer {
    max-width: 100%;
  }

  .expertise-content {
    padding: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-wrapper {
    padding: 0 20px;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    max-width: 728px;
    justify-content: space-between;
  }

  .brand-name {
    font-size: 56px;
    line-height: 56px;
  }

  @keyframes header-one-animation {
    0% {
      opacity: 0;
      top: -80px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }

  .brand-image-wrapper {
    width: 310px;
    top: -250%;
  }

  @-webkit-keyframes brand-image-wrapper {
    0% {
      top: -250%;
      opacity: 0;
    }
    100% {
      top: -150%;
      opacity: 1;
    }
  }

  .brand-image {
    height: 450px;
  }

  .stamp-wrapper {
    position: absolute;
    top: 145px;
    left: 240px;
  }

  .main-header-two {
    width: 100%;
    margin-top: 100px;
  }

  .know-me {
    display: none;
  }

  .social-contacts-wrapper {
    justify-content: space-around;
  }

  .social-contacts {
    justify-content: space-between;
    width: 100%;
  }

  .expertises {
    border-top-left-radius: 0;
  }

  .credit {
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 533px) {
  .expertises {
    padding: 10px;
  }

  .expertise-content-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .main-wrapper {
    padding: 0 20px;
  }

  .main-header {
    max-width: 100%;
  }

  .brand-image-wrapper {
    width: 220px;
    top: -380%;
  }

  @-webkit-keyframes brand-image-wrapper {
    0% {
      top: -380%;
      opacity: 0;
    }
    100% {
      top: -280%;
      opacity: 1;
    }
  }

  .brand-name {
    font-size: 38px;
    line-height: 38px;
    top: -100px;
  }

  @keyframes header-one-animation {
    0% {
      opacity: 0;
      top: -80px;
    }
    100% {
      opacity: 1;
      top: -30px;
    }
  }

  .stamp-wrapper {
    position: absolute;
    top: 95px;
    left: 165px;
  }

  .stamp {
    width: 100px;
    height: 100px;
  }
}
